body{
	background-image:url("../quiz_images/bb.jpg");   /* Background image */
	background-size: 100%;
	color: white;
      }


.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;                   /* Navigation Bar */
    overflow: hidden;
    background-color: black;
}
    
.links {
    float: left;
    border-right:1px solid #990000;
}


li.links:last-child {
    border-right: none;
}


li.links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.links a:hover:not(.active) {
    	background-color: #111;        /* hover effect of the links */
}

.active {
	background-color:#990000;    /* Colour when the link is selected */
}

.footer{
    background-color: black ;
	width: 100%;}
	
	
table {
    border-collapse: collapse;
    width: 100%;                    /* table in the footer */
    align=left;
}

 td {
    padding: 1px;
    text-align: left;
   	 
}

th {
    padding: 1px;
    text-align: left;
                 /* Coloumn Head of the table in the footer */
    font-size:20px;
}

.a1{
    color: white ;
	text-decoration: none;   /* Links in the table of the footer */
	}


.header{
       width: 98;
       height: 108;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}


table {
    font-family: arial;
   	 border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #D8D8D8;
    text-align: left;
    padding: 10px;
}




